body{
    background: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("Photos/bg.jpg");
    font-family: cursive;
}
h1{
    color: antiquewhite;
}

div#main{
    left: 20%;
    padding: 10px;
    background-color: rgb(255,255,255);
    max-width:60%;
    position: relative;
}

img{
    max-height: 50%;
    max-width: 100%;
}