body{
    background: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("Photos/bg.jpg");
    font-family: cursive;
}
h1{
    color: antiquewhite;
}

#main{
    left: 10%;
    top: 15%;
    height: 70%;
    width: 80%;
    background-color: rgba("255,255,255,0.8");
}